In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r"study/Participants Data/Data_Train.xlsx")
test_df=pd.read_excel(r"study/Participants Data/Data_Test.xlsx")

In [3]:
df.head(3)

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",₹200,₹50,3.5,12,4,30 minutes
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",₹100,₹50,3.5,11,4,30 minutes
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30,65 minutes

In [4]:
a=df["Cuisines"]
food={}
k=0

for i in a:
    for j in i.split(","):
        while " " in j:
                j=j.replace(" ","")
        if j not in food:
            food[j]=k
            k+=1
len(food)

101

In [5]:
a=df["Location"].values
h=np.unique(a)
len(h)

35

In [6]:
h=list(h)

In [7]:
def preprocess(daf):
    for i in range(len(daf)):
            try:
                daf["Rating"][i]=float(daf["Rating"][i])
            except:
                daf["Rating"][i]=None
            
    bad_chars=[",","₹"]
    


    def func(vals):
        for val in vals:
            for i in range(len(daf)):
                for j in bad_chars:
                    daf[val][i]=daf[val][i].replace(j,"")
                try:
                    daf[val][i]=float(daf[val][i])
                except:
                    daf[val][i]=None
    vals=["Average_Cost","Minimum_Order","Votes","Reviews"]
    func(vals)
    table=[[0 for i in range(101)] for k in range(len(daf))]
    table2=[[0 for i in range(35)] for k in range(len(daf))]
    
    
    for i in range(len(daf)):
        for j in daf["Cuisines"][i].split(","):
            while " " in j:
                j=j.replace(" ","")
            table[i][food[j]]=1    
            
    table=pd.DataFrame(table,columns=food)
    daf=daf.join(table)
    
    daf.drop(["Cuisines"],axis=1,inplace=True)
    daf.drop(["Restaurant"],axis=1,inplace=True)
    daf=daf.fillna(daf.mean())
    """
    a=daf["Location"].values
    label_encoder = LabelEncoder()
    integer_encoded = label_encoder.fit_transform(a)

    onehot_encoder = OneHotEncoder(sparse=False)
    integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)

    onehot_encoded1=pd.DataFrame(onehot_encoded1)
    df=df.join(onehot_encoder)
    
    """
    
    for i in range(len(daf)):
        daf["Votes"][i]=int(daf["Votes"][i])
        daf["Reviews"][i]=int(daf["Reviews"][i])
        daf["Rating"][i]="{:.2f}".format(daf["Rating"][i])
        
    return daf

In [8]:
test_df=preprocess(test_df)
df=preprocess(df)

E:\anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
E:\anaconda3\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
E:\anaconda3\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
df.to_csv("df.csv")

In [10]:
test_df.to_csv("test_df.csv")

In [11]:
df

,Location,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,FastFood,Rolls,Burger,...,Nepalese,Indian,Tex-Mex,Hotdogs,SouthAmerican,MiddleEastern,African,Turkish,Israeli,Greek
0,"FTI College, Law College Road, Pune",200.0,50.0,3.50,12.0,4.0,30 minutes,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,"Sector 3, Marathalli",100.0,50.0,3.50,11.0,4.0,30 minutes,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mumbai Central,150.0,50.0,3.60,99.0,30.0,65 minutes,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Sector 1, Noida",250.0,99.0,3.70,176.0,95.0,30 minutes,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Rmz Centennial, I Gate, Whitefield",200.0,99.0,3.20,521.0,235.0,65 minutes,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11089,"BTM Layout 1, Electronic City",250.0,50.0,4.20,326.0,189.0,30 minutes,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11090,"Sector 14, Noida",100.0,50.0,3.60,36.0,16.0,30 minutes,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11091,Majestic,100.0,50.0,3.50,45.0,18.0,30 minutes,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11092,"Sector 3, Marathalli",100.0,50.0,3.10,24.0,9.0,30 minutes,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11093,"Sector 63A,Gurgaon",100.0,50.0,3.61,244.0,123.0,30 minutes,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [13]:
"""
a=df["Location"].values
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(a)

onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded1 = 

onehot_encoded1=pd.DataFrame(onehot_encoded1)
df=df.join(onehot_encoder)
"""

'\na=df["Location"].values\nlabel_encoder = LabelEncoder()\ninteger_encoded = label_encoder.fit_transform(a)\n\nonehot_encoder = OneHotEncoder(sparse=False)\ninteger_encoded = integer_encoded.reshape(len(integer_encoded), 1)\nonehot_encoded1 = \n\nonehot_encoded1=pd.DataFrame(onehot_encoded1)\ndf=df.join(onehot_encoder)\n'

In [14]:
y=df["Delivery_Time"].values
label_encoder1 = LabelEncoder()
integer_encoded1 = label_encoder1.fit_transform(y)
print(integer_encoded1)
# binary encode

[3 3 5 ... 3 3 3]

In [15]:
df.drop(["Delivery_Time","Location"],axis=1,inplace = True)

In [16]:
for i in range(len(y)):
    y[i]=int(y[i][:3])

In [17]:
y1=integer_encoded1

In [18]:
df

,Average_Cost,Minimum_Order,Rating,Votes,Reviews,FastFood,Rolls,Burger,Salad,Wraps,...,Nepalese,Indian,Tex-Mex,Hotdogs,SouthAmerican,MiddleEastern,African,Turkish,Israeli,Greek
0,200.0,50.0,3.50,12.0,4.0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,100.0,50.0,3.50,11.0,4.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,150.0,50.0,3.60,99.0,30.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,250.0,99.0,3.70,176.0,95.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,200.0,99.0,3.20,521.0,235.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11089,250.0,50.0,4.20,326.0,189.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11090,100.0,50.0,3.60,36.0,16.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11091,100.0,50.0,3.50,45.0,18.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11092,100.0,50.0,3.10,24.0,9.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11093,100.0,50.0,3.61,244.0,123.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
X_train, X_test, y_train, y_test = train_test_split(df, y1, test_size=0.20, random_state=42)

In [20]:
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [21]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [22]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 77.15%

In [23]:
test_df.drop("Location",axis=1,inplace=True)

In [24]:
test_df

,Average_Cost,Minimum_Order,Rating,Votes,Reviews,FastFood,Rolls,Burger,Salad,Wraps,...,Nepalese,Indian,Tex-Mex,Hotdogs,SouthAmerican,MiddleEastern,African,Turkish,Israeli,Greek
0,350.0,50.0,4.2,361.0,225.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,100.0,50.0,3.6,226.0,111.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,100.0,50.0,3.6,36.0,16.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200.0,50.0,3.6,66.0,33.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,150.0,50.0,2.9,38.0,14.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2769,100.0,50.0,3.6,226.0,111.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2770,250.0,50.0,3.1,5.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2771,150.0,50.0,3.0,16.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2772,100.0,99.0,3.0,7.0,2.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2773,150.0,50.0,3.6,99.0,30.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
y_pred=model.predict(test_df)

In [26]:
y_pred=label_encoder1.inverse_transform(y_pred)

In [27]:
y_pred=pd.DataFrame(y_pred)

In [28]:
y_pred.to_csv("prediction.csv")

In [29]:
y_pred

               0
0     30 minutes
1     30 minutes
2     30 minutes
3     30 minutes
4     30 minutes
...          ...
2769  45 minutes
2770  30 minutes
2771  45 minutes
2772  65 minutes
2773  65 minutes

[2774 rows x 1 columns]

In [30]:
y_pred.to_csv(r'F:/study/test.csv')